@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Anta&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply border border-primary/20 rounded-md px-3 py-2 outline-none  transition-all focus:border-primary/90 font-medium;
  }
  .btn {
    @apply outline-none border px-3.5 py-2 rounded-md capitalize
      font-pop;
  }
}
body {
  overflow-x: hidden;
}
.customPushpin {
  width: 32px; /* Set your desired width */
  height: 32px; /* Set your desired height */
  background-image: url("/src/assets/image/logo2.png"); /* Path to your custom icon */
  background-size: cover; /* Ensure the icon covers the entire element */
  position: absolute;
  transform: translate(-50%, -100%); /* Center the icon */
}
:root {
  --main-color: #0091ea;
  --second-color: #42a5f5;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
.blue_main {
  color: var(--main-color);
}
.bg_blue_main {
  background: var(--main-color);
}
.blue_second {
  color: var(--second-color);
}
.bg_blue_second {
  background: var(--second-color);
}

.header_text,
.phar_text {
  position: relative;
}
.header_text::before {
  content: "Solution Pharmaceutique";
}
.phar_text::before {
  content: "PharMaroc";
}
@media (min-width: 405px) {
  .header_text::after,
  .phar_text::after {
    content: "";
    position: absolute;
    width: 0;
    height: 82%;
    background-color: white;
    right: -10px;
  }
}
.phar_text::after {
  animation: display1 30s infinite;
}
.header_text::after {
  animation: display2 30s infinite;
  animation-delay: 1.5s;
}

@keyframes display1 {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: calc(110%);
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: 0;
  }
}
@keyframes display2 {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: calc(110%);
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: 0;
  }
}

/* end body in  */
/* start map  */
#MicrosoftNav.NavBar_Container.Light.horizontal.compact {
  display: none;
}

.glass {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.spliter {
  z-index: 100;
}

.spliter::after {
  --tw-text-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-text-opacity));
  content: "";
  position: absolute;
  width: 44%;
  height: 1px;
  right: 0;
  top: 50%;
  z-index: -1;
  border-radius: 20px;
}
.spliter::before {
  --tw-text-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-text-opacity));
  content: "";
  position: absolute;
  width: 44%;
  height: 1px;
  left: 0;
  top: 50%;
  z-index: -1;
  border-radius: 20px;
}
.gradiant {
  background-image: radial-gradient(
    circle,
    #b5b8bd,
    #b0b9bd,
    #acbab9,
    #adbab2,
    #b4b8ab
  );
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: lightgray;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px gray;
  border-radius: 10px;
}
