/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navigation-option::before {
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    z-index: -1;
    @apply rounded-lg;
  }
  .navigation-option {
    @apply text-white font-pop  px-3 py-2 font-light
          cursor-pointer  
         text-xl hover:before:block relative;
  }
  .navigation-title {
    @apply flex text-white font-pop  font-bold 
    text-4xl  gap-4 items-center;
  }
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: var(--second-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-color); /* Color of the handle on hover */
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

:root {
  /* background-color: whitesmoke; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --main-color: #0091ea;
  --second-color: #42a5f5;
}
.flex {
  transition: flex-direction 3s ease-in-out;
}
/* start backgroun  */
body {
  min-width: 200px;
  min-height: 100vh;
  place-items: center;
}
/* start side bare  */

/* .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #777;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.uiverse:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
} */

/* end side bare  */
/* start navbar  */
#langauge_btn {
  width: 24px;
  height: 24px;
  padding: 2px;
  font-size: 13px;
  background: var(--main-color);
  border-radius: 50%;
  margin: 0px 10px;
}
#langauge_btn:hover {
  background: var(--second-color);
}
/* end navbar  */
/* start body info  */
.info_btn {
  padding: 8px 15px;
  border: 2px solid var(--second-color);
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  border-radius: 9px;
  color: var(--second-color);
}

.info_btn::before {
  content: "";
  width: 0;
  height: 320%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: var(--main-color);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.info_btn:hover::before {
  width: 105%;
}

.info_btn:hover {
  color: #fff;
}

.info {
  width: 50%;
  margin-bottom: 80px;
}
.title_info {
  color: var(--main-color);
  text-shadow: 6px 4px 20px white;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 20px;
}
.info p {
  font-size: 20px;
}
.image-main {
  position: relative;
  transition: 0.4s;
  animation: up-down-image 2s infinite ease-in-out;
}

@media (max-width: 1090px) {
  .info p {
    font-size: 17px;
  }
  .title_info {
    font-size: 26px;
  }
  .logo h3 {
    font-size: 22px;
  }
  .nav_bar ul li a {
    font-size: 14px !important;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@keyframes up-down-image {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* end body in  */
